/* General styling for the container */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}
@font-face {
  font-family: "Lora";
  src: url("fonts/lora-regular-webfont.woff") format("woff");
  font-weight: 400, 600;
  font-style: normal;
}

@font-face {
  font-family: "Lora1";
  src: url("fonts/lora-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora2";
  src: url("fonts/lora-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lora3";
  src: url("fonts/lora-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cart {
  margin-left: auto;
  fill: black; /* Move the cart to the far right */
}

.logo svg,
.cart svg {
  width: 18px;
  height: 15px;

  /* Adjust fill color if needed */
}

.about-container {
  /* padding: 20px; */
  margin-top: 40px;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Styling for the image at the top */
.about-image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Heading style */
.about-heading {
  margin-top: 45px;
  color: #351d0d;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
}
.about-para {
  margin: 0 16px;
  color: #1d1d1d;

  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 24px !important; /* 19.2px */
}

.about-section .textlast {
  margin: 0 16px;
  background-color: none !important;
  color: #1d1d1d;

  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 65px;
}
/* Subheading style */
.subheading {
  /* font-size: 18px;
  font-weight: bold; */
  margin-bottom: 8px !important;
  margin-left: 16px;
  margin-right: 16px;
  color: #1d1d1d;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

/* Text content style */
.text {
  margin: 0 16px;
  color: #1d1d1d;

  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 24px !important; /* 19.2px */
}

.image-section-viewport {
  height: auto; /* 50% of viewport height */
  width: 100%;
}

.image-section-viewport .full-height-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Footer Section */
.footer-section {
  margin-top: 0px !important;
  background: #f4f1df;
  padding: 0px 16px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-logos {
  margin-top: 32px !important;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 35px; /* Space between SVGs */
  margin-bottom: 20px; /* Space below the SVGs */
}

.footer-branding p {
  text-align: left;
  color: #5e5e5e;

  font-family: Rubik;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
  margin-bottom: 56px !important;
}

/* Mobile-Only Footer Section */

.footer-content2 {
  display: flex;
  justify-content: space-between; /* Footer links and subscribe on each side */
  align-items: flex-start;
  gap: 48px;
  margin: 0 !important;
}

/* Footer Links on the Left */
.footer-links {
  flex: 1; /* Takes up space on the left */
}

.footer-links h3 {
  text-align: left;
  margin-bottom: 10px;
  color: #1e1e1e;

  font-family: Rubik;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 140% */
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.footer-links ul li {
  color: #1e1e1e;
  text-align: left;

  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}

.footer-links p {
  text-align: left;

  color: #1e1e1e;

  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}

/* Footer Subscribe on the Right */
.footer-subscribe {
  flex: 1; /* Takes up space on the right */
  text-align: right;
}

.footer-subscribe h3 {
  text-align: right;
  width: 100%;
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 233.333% */
}

.footer-subscribe form {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 10px; /* Space between input and button */
  color: #232323;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/* .footer-subscribe input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #4b2e28;
  border-radius: 5px;
  width: 158px;
  height: 16px; /* Set a width for the input */
/* display: flex;
  padding: 6px 8px 6px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #595959;
} */

/* .footer-subscribe button {
  padding: 10px;
  font-size: 1.2rem;
  background-color: #4b2e28;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
form {
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

input[type="email"] {
  padding: 10px 40px 10px 15px; /* Space for the button inside */
  font-size: 1rem;
  border: 1px solid #4b2e28;
  border-radius: 5px;
  width: 100%;
}

button {
  width: auto;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4b2e28;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

button svg {
  fill: white;
  width: 13px;
  height: 8px;
}

.social-icons {
  display: flex;
  justify-content: flex-end; /* Right-align social icons */
  gap: 10px; /* Space between social icons */
  margin-top: 5px;
}

.social-icons a img {
  width: 14px;
  height: 14px;
}

.footer-image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image {
  width: 100%; /* This makes sure the image spans the entire width of the viewport */
  height: auto;
}

a {
  color: inherit; /* Inherits the color from the parent element */
  text-decoration: none; /* Remove underline */
}

/* Maintain the same color when hovering */
