body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.form-container {
  overflow-x: hidden;
  width: auto;
  margin: 10px 16px;
  background-color: white;
  border-radius: 10px;
}

h1,
h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #666;
}

.form-group input {
  width: 320px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5a4a42;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #4b3e36;
}

#cartDetails {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
