body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "Lora";
  src: url("fonts/lora-regular-webfont.woff") format("woff");
  font-weight: 400, 600;
  font-style: normal;
}

@font-face {
  font-family: "Lora1";
  src: url("fonts/lora-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora2";
  src: url("fonts/lora-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lora3";
  src: url("fonts/lora-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Regular.woff");
  font-weight: 500, 700;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: center; /* Centers the logo horizontally */
  align-items: center; /* Centers the content vertically */
  padding: 20px; /* Add some padding if needed */
  /* Optional background color */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  display: inline-block;
}

.logo svg {
  width: 32px;
  height: 22.41px;
}

.form-container {
  overflow-x: hidden;
  width: auto;
  margin: 10px 16px;
  background-color: white;
}

h1,
h2 {
  margin-bottom: 10px;
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;

  line-height: normal;
}

.form-group {
  margin-bottom: 15px;
}

.form-container .form-group input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

#submitFormBtn {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  background: #351d0d;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  color: #f4f1df;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-container #buyNowBtn {
  width: 100%;
  padding: 10px;
  color: white;
  border-radius: 4px;
  background: #351d0d;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  color: #f4f1df;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#cartDetails {
  /* margin-top: 20px; */
  padding-left: 0;
  padding: 10px;
  background: #fbf9f2;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
}

.cart-items-list {
  margin: 0;
  padding: 0;
}

.cart-item {
  display: flex;
  flex-direction: column; /* Stack product name, price, and quantity controls */
  margin-bottom: 30px; /* Space between cart items */
  /* padding: 10px; Padding inside each cart item */
  border-bottom: 1px solid #e0e0e0; /* Divider between items */
}

.product-name {
  /* * Slightly larger font size */
  margin-bottom: 5px; /* Space below the product name */
  color: #000;
  margin: 0 !important;

  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.product-price {
  color: #000;
  margin: 0 !important;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px; /* Space below the price */
}

.remove-link {
  color: #c04070;

  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart-summary {
  flex: 1 0 0;
  color: #000;

  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
